<?xml version="1.0" encoding="UTF-8"?>
<config>
    <global>
        <blocks>
            <page>
                <rewrite>
                    <html_head>Delegator_Improvedmerge_Block_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <models>
            <core>
                <rewrite>
                    <design_package>Delegator_Improvedmerge_Model_Design_Package</design_package>
                </rewrite>
            </core>
        </models>
    </global>
</config>
